html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body {
  /*background: #FFD6C1;*/
  /*color: #d08284; persika*/
  font-family: 'Quicksand', sans-serif;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
}
.tnr {
  display: flex;
  color: #D81E5B;
  float: right;
}

h2 {
  font-size: 40px;
  text-transform: uppercase;
}
.logo {
color: white;
}
.header_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
}

footer {
  background: #A29C9B;
}
/*main {}
  .mathematics_competitions a {
    background: auto;
    padding: 10px;
    display: inline-block;
  }*/
  h3 {
    margin: 0;
  }
  nav {
    text-align: center;
    /*position: fixed;*/
    top: 0;
  }
  /*se rad 41 - 53*/
  nav a {
    display: inline-block;
    text-decoration: none;
  }

/*Links
_____________________*/
a:link {
  color: #FCF5C7;
}
a:hover {
  text-decoration: none;
  color: #F1F2EB;
}
a:visited {
  color: #D81E5B;
}
a:active {
    color: #545E75;
}
a:focus {
    color: #E5F2C9;
}
.header-navigation {
  list-style: none;
  display: flex;
  height: 600px;
}

.hero {
  background-image: url('../images/kamil-s-1427397-unsplash.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 100vh;
}
.hero_overlay {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(to top, rgba(35,38,48,0), rgba(35,38,48,1));
  height: 200px;
}


.form {
  margin-top: 60px;
  background: #FDF9E0;
  position: relative;
}

.hero-container {
  position: relative;
  z-index: 1;
}

aside {
  position: relative;
  display: inline-block;
  width: 40%;

  justify-content: space-around;
  z-index: 1;
  text-align: center;
  /*border-top: double;
  border-bottom: double;
  border-bottom-width: 4px;*/
  padding: 10px 30px;
  color: #BAA898;
  mix-blend-mode: color-dodge;
}

button {
  font-family: 'Quicksand', sans-serif;
  background: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 2px;
  padding: 20px 50px;
  color: #BAA898;
}
/*.profile_img {
  width: 100%;
  position: absolute;
  z-index: -1;
  clear: left;
}*/

.contact_form {

}
/*  Latest News  START */
.block .flex_container {
 background: #F1F2EB;
 } /*the lightest "white" ISABELLINE*/
 h3 + h5 {
   color: #A5A6A7;
 }
 .flex_container {
   display: flex;
   justify-content: space-between;
 }
 
 .block_element {
   margin: 20px 50px;
 }
 .block_element h3 {
   font-size: 40px;
   border-top: none;
   float: left;
   padding: 0 auto;
   margin: 0 auto;
 }
/*  Latest News  FINISH */

/*RESPONSE STYLES*/
@media screen and (min-width:375px){
  aside {
    margin: 250px 100px;
  }

  .header-navigation li {
    margin-right: 20px;
    text-transform: uppercase;
  }
  .item {
    margin-right: 50px;
  }
  nav a {
    padding: 15px 20px;
    font-weight: bold;
    font-size: 12px;
  }
  button {
    font-family: 'Quicksand', sans-serif;
    background: none;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 4px;
    padding: 30px 75px;
    color: #BAA898;
  }
  aside h1 {
    font-family: 'Qwigley', cursive;
    font-style: italic;
    font-weight: bold;
    font-size: 40rem;
    line-height: 200px;
    text-align: center;
  }
  aside p {
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: lighter;
    font-size: 10rem;
    line-height: 200px;
  }
}

@media screen and (max-width:374px){
  aside {
    margin: 150px 0;
  }
  .header-navigation li {
    margin-right: 11px;
    text-transform: uppercase;
  }
  .item li {
    margin-right: 0;
  }
  nav a {
    padding: 3px 4px;
    font-weight: lighter;
    font-size: 0.6rem;
  }
  button {
    font-family: 'Quicksand', sans-serif;
    background: none;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 10px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 4px;
    padding: 10px 40px;
    margin-top: 30px;
    color: #BAA898;
  }

  aside h1 {
    font-family: 'Qwigley', cursive;
    font-style: italic;
    font-weight: bold;
    font-size: 10rem;
    line-height: 3rem;
    text-align: center;
    margin-bottom: 30px;

  }
  aside p {
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: lighter;
    font-size: 3.5rem;
  }
}
