html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body {
  /*background: #FFD6C1;*/
  font-family: 'Quicksand', sans-serif;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
}


h2 {
  font-size: 40px;
  text-transform: uppercase;
}
.logo {
color: white;
}
.header_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item {
  margin-right: 50px;
}
footer {
  background: #A29C9B;
}
/*main {}
  .mathematics_competitions a {
    background: auto;
    padding: 10px;
    display: inline-block;
  }*/
  h3 {
    margin: 0;
  }
  nav {
    text-align: center;
    /*position: fixed;*/
    top: 0;
  }
  /*se rad 41 - 53*/
  nav a {
    display: inline-block;
    padding: 15px 20px;
    text-decoration: none;
    font-weight: bold;
  }

/*Links
_____________________*/
a:link {
  color: #FCF5C7;
}
a:hover {
  text-decoration: none;
  color: #F1F2EB;
}
a:visited {
  color: #D81E5B;
}
a:active {
    color: #545E75;
}
a:focus {
    color: #E5F2C9;
}
.header-navigation {
  list-style: none;
  display: flex;
}
.header-navigation li {
  margin-right: 47px;
  text-transform: uppercase;
}
.hero {
  background-image: url('../images/kamil-s-1427397-unsplash.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 1400px;
  height: 800px;
  padding-top: 200px;
  position: relative;
}
.hero_overlay {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(to top, rgba(35,38,48,0), rgba(35,38,48,1));
  height: 200px;
  z-index: 1;
}
.title {
    font-family: 'Qwigley', cursive;
    font-weight: 400;
    font-size: 100px;
    color: #232630; /*CHARLESTON GREEN*/
    position: relative;
  }
}
.form {
  margin-top: 600px;
  background: #FDF9E0;
  position: relative;
}
/* EXAMPLE:
HTML
  <img class="profile_img" src="images/kamil-s-1427397-unsplash.png" alt="blossom">

.education {
  background-image: url(../images/joanna-kosinska-unsplash.jpg);
  background-size: cover;
  background-position: top right;
  padding-bottom: 100px;
}
.education p {

  width: 60%;
}
-----------------------------------*/
hero-container {
  position: relative;
  z-index: relative;
}

aside {
  position: relative;
  display: block;
  float: left;
  margin: 20px;
  justify-content: space-around;
  z-index: 1;
  text-align: center;
  color: #D8DAD3;
  background: #d08284;
  border: 0;
  border-radius: 2px;
  padding: 13px 33px;
}
aside h1 {
  padding: 20px;
  border-top: double;
  border-bottom: double;
  border-bottom-width: 4px;
}

button {
  font-family: 'Quicksand', sans-serif;
  background: none;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 2px;
  padding: 13px 33px;
}
/*.profile_img {
  width: 100%;
  position: absolute;
  z-index: -1;
  clear: left;
}*/
.item-details {

  width: 26%;
  margin-left: 200px;
}
.contact_form {

}
